# Contents

### 01. Importing Libraries and Data
### 02. Determining Merge Type
### 03. Inner Merge of Dataframes
### 04. Exporting Data

# 01. Importing Libraries and Data

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Assign path to str
path = r'/Users/allyfornino/Documents/10-2022 Instacart Basket Analysis/02 Data/'

In [3]:
ords_prods_combined = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
prods = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_cleaned.csv'))

# 02. Determining Merge Type

In [5]:
# Removing index and _merge columns
ords_prods_combined = ords_prods_combined.drop(columns = ['Unnamed: 0.1', 'Unnamed: 0', '_merge'])

In [6]:
# Check output
ords_prods_combined.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,True,196,1,0
1,2539329,1,1,2,8,NaN,True,14084,2,0
2,2539329,1,1,2,8,NaN,True,12427,3,0
3,2539329,1,1,2,8,NaN,True,26088,4,0
4,2539329,1,1,2,8,NaN,True,26405,5,0

In [7]:
ords_prods_combined.shape

(32434489, 10)

In [8]:
# Check output
prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
prods.shape

(49672, 6)

#### Both dataframes have 'product_id' columns that can be used for an inner merge

# 03. Inner Merge of Dataframes

In [10]:
# Inner merge of dataframes
ords_prods_merged = ords_prods_combined.merge(prods, on = 'product_id', indicator = True)

In [11]:
# Check output
ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,False,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,False,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,False,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,False,196,1,1,195,Soda,77,7,9.0,both

In [12]:
# Check for full match
ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [13]:
ords_prods_merged.shape

(32404859, 16)

# 04. Exporting Data

In [14]:
# Export data to pkl
ords_prods_merged.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged.pkl'))