# Contents

### 01. Importing Libraries and Data
### 02. Checking Output and Inner Merge
### 03. Exporting Merged Data

# 01. Importing Libraries and Data

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Assign path to str
path = r'/Users/allyfornino/Documents/10-2022 Instacart Basket Analysis/02 Data/'

In [3]:
df_ords = pd.read_csv(os.path.join(path, 'Prepared Data', 'orders_cleaned.csv'))

In [4]:
df_ords_prior = pd.read_csv(os.path.join(path, 'Original Data', 'order_products__prior.csv'))

# 02. Checking Output and Inner Merge

In [5]:
# Check output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_ords_prior.shape

(32434489, 4)

In [7]:
df_dups =

SyntaxError: invalid syntax (978461170.py, line 1)

In [ ]:
df_ords.shape

In [ ]:
# Inner join merge 
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [ ]:
df_merged_large['_merge'].value_counts()

In [ ]:
# Outer join merge to check
df_merged_outer = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [ ]:
df_merged_outer['_merge'].value_counts()

# 03. Exporting Merged Data

In [ ]:
# Exporting data as a .pkl file
df_merged_large.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))