# Contents

### 01. Importing Libraries and Data
### 02. Exercise 4.7
    If-statement using function
    If-statement using loc()
    If-statement using for-loops
### 03. Task 4.7
### 04. Exporting Data

# 01. Importing Libraries and Data

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Assign path to str
path = r'/Users/allyfornino/Documents/10-2022 Instacart Basket Analysis/02 Data/'

In [3]:
df_ords_prods_merged = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged.pkl'))

# 02. Exercise 4.7

In [4]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,False,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,False,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,False,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,False,196,1,1,195,Soda,77,7,9.0,both

In [5]:
df = df_ords_prods_merged[:1000000]

## If-statement using function

In [6]:
# Row is standard argument looking at each row within df
def price_label(row):
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High range'
    else: return 'Not enough data'

In [7]:
df['price_range'] = df.apply(price_label, axis = 1)

/var/folders/k5/h7hd9lyd3_71d0dxdtly8w4r0000gn/T/ipykernel_979/935325922.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

In [8]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [9]:
df['prices'].max()

14.8

## If-statement using loc()

In [10]:
df2 = df

In [11]:
df2.loc[df2['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/k5/h7hd9lyd3_71d0dxdtly8w4r0000gn/T/ipykernel_979/235732520.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.loc[df2['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [12]:
df2.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [13]:
df2.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [14]:
df2['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

## If-statement using for-loops

In [15]:
df_ords_prods_merged['order_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

In [16]:
result = []

for value in df_ords_prods_merged['order_day_of_week']:
    if value == 0:
        result.append('Busiest day')
    elif value == 4:
        result.append('Least busy')
    else:
        result.append('Regularly busy')

In [17]:
df_ords_prods_merged['busiest_day'] = result

In [18]:
df_ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [19]:
len(result)

32404859

In [20]:
df_ords_prods_merged.shape

(32404859, 17)

# 03. Task 4.7

In [21]:
# Changing labels for busiest day column
results = []

for value in df_ords_prods_merged['order_day_of_week']:
    if value == 0 or value == 1:
        results.append('Busiest days')
    elif value == 4 or value == 3:
        results.append('Slowest days')
    else:
        results.append('Regularly busy')

In [22]:
df_ords_prods_merged['busiest_day'] = results

In [23]:
# Checking values
df_ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: busiest_day, dtype: int64

In [24]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge,busiest_day
0,2539329,1,1,2,8,NaN,True,196,1,0,195,Soda,77,7,9.0,both,Regularly busy
1,2398795,1,2,3,7,15.0,False,196,1,1,195,Soda,77,7,9.0,both,Slowest days
2,473747,1,3,3,12,21.0,False,196,1,1,195,Soda,77,7,9.0,both,Slowest days
3,2254736,1,4,4,7,29.0,False,196,1,1,195,Soda,77,7,9.0,both,Slowest days
4,431534,1,5,4,15,28.0,False,196,1,1,195,Soda,77,7,9.0,both,Slowest days

In [25]:
df_ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [26]:
# Creating list for busiest hours
busiest_hours = []
for value in df_ords_prods_merged['order_hour_of_day']:
    if ((value >= 10) & (value <= 16)):
        busiest_hours.append('Most orders')
    elif ((value >= 0) & (value <= 6)):
        busiest_hours.append('Fewest orders')
    else:
        busiest_hours.append('Average orders')

In [27]:
# Creating a new column
df_ords_prods_merged['busiest_period_of_day'] = busiest_hours

In [28]:
# Checking frequency counts
df_ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       18663868
Average orders    12854170
Fewest orders       886821
Name: busiest_period_of_day, dtype: int64

In [29]:
# Checking output
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,195,Soda,77,7,9.0,both,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,195,Soda,77,7,9.0,both,Slowest days,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,195,Soda,77,7,9.0,both,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,False,196,1,1,195,Soda,77,7,9.0,both,Slowest days,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,195,Soda,77,7,9.0,both,Slowest days,Most orders

In [30]:
df_ords_prods_merged.shape

(32404859, 18)

# 04. Exporting Data

In [31]:
df_ords_prods_merged.to_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merged_updated.pkl'))